
*{
    padding: 0%;
    margin: 0%;

}
body{
    background-color: rgb(1, 1, 25);
    color: white;
    font-family: "poppins",sans-serif;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 17, 67);
    margin:17px;
    height: 50px;


}
nav ul {
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 0 25px;
}
 nav ul li a{
    text-decoration: none;
    color: white;

 }
 nav ul li a:hover{
    color: rgb(150, 150, 171);
    font-size: 1.01rem;
 }
 main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
 }
.left{
    font-size: 27px;
}
.first {
    display: flex;
    justify-content:space-around;
    margin:130px 0;
    align-items:center;
}
.first>div{
    width: 30%;
    }
.leftSection{ 
font-size: 3rem;
}
.rightSection img{
    width: 80%;
    
}
.purple{
    color: rgb(116, 57, 116);

}
.text-gray{
   color:white ; 
}
#element{
color: rgb(116, 57, 116);
}
.text-gray{
   color: gray; 
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.6rem;

}

.secondSection .box{
   background-color: white;
   width: 75vw;
   height: 2px;
   margin: 56px 0; 
   display: flex;
}

.secondSection .vertical{
    height: 93px;
    width:1px;
    background-color: white;
    margin: 0 140px;


}
.image-top{
    width: 25px;
    position: relative;
    top: -32px; 
    left: -9px;
}

.vertical-title{
position: relative;
top: 75px;
width: 150px;
font-size: 14px;


}

.vertical-desc{
position: relative;
top: 80px;
color: gray;
width: 150;
font-size: 9px;

}
footer{
    background-color:rgb(36, 34, 43);
    padding-top: 20px;
    padding: 40px 0 10px 0;
}
 .footer{
    display: flex;
    padding: 23px 122px;
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    width: 100%;

}
.footer ul{
    list-style: none;
    padding: 0;

}
.footer ul li{
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.footer-text{
text-align: center;
color: gray;
margin-top: 20px 0 5px;
margin-top: 20px;
font-size: 13px;
color: gray;
} 
footer {
    background-color: rgb(36, 34, 43);
    color: white;
    padding: 40px 0 10px 0;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.col h3 {
    margin-bottom: 18px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.footer ul li:hover {
    color: rgb(188, 148, 255);
    transform: translateX(4px);
}

.footer-text {
    text-align: center;
    padding: 15px 0 5px;
    margin-top: 20px;
    font-size: 13px;
    color: gray;
}


 


