
*{
    padding: 0%;
    margin: 0%;

}
body{
    background-color: rgb(1, 1, 25);
    color: white;
    font-family: "poppins",sans-serif;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 17, 67);
    margin:17px;
    height: 50px;


}
nav ul {
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 0 25px;
}
 nav ul li a{
    text-decoration: none;
    color: white;

 }
 nav ul li a:hover{
    color: rgb(150, 150, 171);
    font-size: 1.01rem;
 }
 main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
 }
.left{
    font-size: 27px;
}
.first {
    display: flex;
    justify-content:space-around;
    margin:130px 0;
    align-items:center;
}
.first>div{
    width: 30%;
    }
.leftSection{
    font-size: 2.3rem;
}
.leftSection .btn{
font-size: 3rem;
padding: 12px;
background-color: rgb(46, 37, 106);
color: white;
border: 2px solid white;
font-size: 20px;
border-radius:4px ;
cursor: pointer;
}
.rightSection img{
    width: 80%;
    
}
.purple{
    color: rgb(116, 57, 116);

}
.text-gray{
   color:white ; 
}
#element{
color: rgb(116, 57, 116);
}
.text-gray{
   color: gray; 
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.6rem;

}

.secondSection .box{
   background-color: white;
   width: 75vw;
   height: 2px;
   margin: 56px 0; 
   display: flex;
}

.secondSection .vertical{
    height: 93px;
    width:1px;
    background-color: white;
    margin: 0 170px;


}
.image-top{
    width: 25px;
    position: relative;
    top: -32px; 
    left: -9px;
}

.vertical-title{
position: relative;
top: 75px;
width: 250px;
font-size: 20px;


}

.vertical-desc{
position: relative;
top: 90px;
color: gray;
width: 300px;
font-size: 18px;

}
footer{
    background-color:rgb(36, 34, 43);
     padding-top: 10px;
    padding: 40px 0 10px 0; 
}
  .flex{
    display: flex;
    padding: 13px 122px;
     justify-content: space-evenly; 
     align-items: flex-start; 
    width: 100%;

}
.footer ul{
    list-style: none;
    padding: 0;

}
.footer ul li{
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.footer-text{
text-align: center;
color: gray;
margin-top: 10px 0 5px;
margin-top: 20px;
font-size: 23px;
color: gray;
} 
